[submodule "themes/next"]
	path = themes/next
	url = https://github.com/a347807131/hexo-theme-next.git
[submodule "themes/sagiri"]
	path = themes/sagiri
	url = https://github.com/a347807131/hexo-theme-sagiri.git
[submodule "themes/butterfly"]
	path = themes/butterfly
	url = https://github.com/a347807131/hexo-theme-butterfly.git
[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/a347807131/hexo-theme-matery.git
