[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/a347807131/hexo-theme-matery.git
[submodule "source/_posts"]
	path = source/_posts
	url = https://github.com/a347807131/_posts.git
[submodule "themes/next"]
	path = themes/next
	url = git@github.com:theme-next/hexo-theme-next.git
