[submodule "themes/next"]
	path = themes/next
	url = https://github.com/a347807131/hexo-theme-next.git
[submodule "hexo-theme-butterfly"]
	path = hexo-theme-butterfly
	url = https://github.com/jerryc127/hexo-theme-butterfly.git
