extends includes/layout

block content
  #recent-posts.recent-posts
    include includes/recent-posts
      include includes/pagination
  #aside_content.aside_content
    include includes/widget/index