extends includes/layout

block content
  if theme.tag_ui == 'index'
    include includes/mixins/UI
    #recent-posts.recent-posts    
      +UI_NEW(page.posts)
      include includes/pagination
    #aside_content.aside_content
      include includes/widget/index
  else
    include includes/mixins/article-sort
    #tag
      .article-sort-title= _p('page.tag') + ' - ' + page.tag
      +articleSort(page.posts)
      include includes/pagination
    #aside_content.aside_content
      include includes/widget/index
